.bg-light {
  background-color: #f2f2f2 !important;
}

.nav-link {
  font-size: 1.1em;
}

.hero-box-home {
  padding: 2% 5%;
  margin: 5% auto 10%;
}

.hero-box-about {
  margin-top: 10%;
  margin-bottom: 7%;
}

.three-squares-img {
  /* background-image: url("assets/future_box_code.jpg"); */
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;

  clip-path: url(#clip);
}

.clip {
  width: 100%;
  height: 100%;
}

.test {
  clip-path: url("assets/three-squares-icon-light.svg");
}

.clip-svg {
  clip-path: url(#myClip);
}

.hero-title-spacer {
  display: block;
  height: 50%;
}

.marked {
  background-color: #f2f2f2;
}

.hero-sub-title {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 4rem;
  }

  .hero-subtitle {
    font-size: 2rem;
  }

  .work-hero-desc {
    margin-left: 10%;
    font-size: 18px;
    width: 40%;
  }

  .work-hero-img {
    width: 300px !important;
    clip-path: polygon(45% 0%, 100% 0%, 100% 60%, 100% 100%, 0% 100%, 0% 45%, 45% 10%);
    shape-outside: polygon(45% 0%, 100% 0%, 100% 60%, 100% 100%, 0% 100%, 0% 45%, 45% 10%);
  }

}

@media (min-width: 992px) {
  .hero-box-about {
    padding: 2% 5%;
    margin: 5% auto 10%;
  }
}

@media (min-width: 1200px) {
  .work-hero-box {
    margin-left: 5%;
    margin-right: 15%;
  }

  .trailer {
    margin-left: 13%;
    margin-right: 13%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .work-hero-three-squares {
    width: auto !important;
  }
}

.space-symbol {
  width: 100%;
  padding-top: 25%;
  background-color: #f2f2f2;
}

p, li, span {
  font-size: 18px;
}

.content>h1:not(:first-child) {
  margin-top: 3rem;
}

.content>h2:not(:first-child) {
  margin-top: 3rem;
}

.content>h3:not(:first-child) {
  margin-top: 3rem;
}

.info-box {
  padding: 1.5rem;
  margin-bottom: 1rem;
  font-size: 18px;
  /* background-color: rgb(40, 43, 44); */
  background-color: #f2f2f2;
}

.info-box h6 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.3px;
}

.info-box h6:not(:first-child) {
    margin-top: 1rem;
}

.info-box li:not(:first-child) {
  margin-top: .5rem;
}

.work-hero-box {
  margin-top: 8%;
  margin-bottom: 5%;
}

.work-hero-subtitle {
  font-size: 16px;
}

.work-hero-img {
  width: 80%;
}

.work-hero-three-squares {
  width: 100%;
}
