.nav-link {
  font-size: 1.1em;
}

.intro-box {
  padding: 2% 5%;
  margin: 5% auto 10%;
}

.space-symbol-svg {
  width: 40%;
  height: 10%;
}

.space-symbol {
  width: 40%;
  height: 10%;
  background-color: #e6e6e6;
}

.invis {
  visibility: hidden;
}

h1 {
  font-size: 200%;
  font-weight: bolder;
}

p {
  font-size: 18px;
}
